/* This file is for your main application css. */

/*@import "./phoenix.css"; */
@tailwind base;
@tailwind components;

.bg-green-ext{
  background-color: #499F42;
}

.bg-gold-ext{
  background-color: #F7C33F;
}

.bg-gray-readonly-true {
  @apply bg-gray-300;
}

.alert {
  @apply text-3xl;
}
.alert-info {
  @apply bg-blue-700 border ;
}
.alert-warning {
  @apply bg-yellow-700 border ;
}
.alert-danger {
  @apply bg-red-700 border ;
}
.alert:empty {
  @apply hidden;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

@tailwind utilities;
