<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sistema de Gestion de Incidencias Medicas</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <!--
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"?>
    -->
  </head>
  <body>
    <div class="bg-green-ext p-1 flex items-center" >
      <img src="<%= Routes.static_path(@conn, "/images/logo.svg") %>" alt="Logo Linea 1" class="h-8"  />
      
      <h1 class="pl-5 text-white text-xl">SISTEMA DE GESTION DE INCIDENCIAS MEDICAS</h1>
      
    </div>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-warning" role="alert"><%= get_flash(@conn, :alert) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
